body, html{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: arial,verdana;
}
#progress-bar{
  position: absolute;
  height: 6vh;
  width: 100vw;
  background-color: #222222;
}
#steps{
  position: absolute;
  top: 6vh;
  height: 94vh;
  width: 18vw;
  background: linear-gradient(#222222, #444444);
}
#main-tab{
  position: absolute;
  top: 6vh;
  left: 18vw;
  float: none;
  height: 94vh;
  width: 59vw;
  background-color: #eeeeee;
  overflow-y: auto;
}
#view-pane{
  position: absolute;
  top: 6vh;
  left: 77vw;
  height: 94vh;
  width: 22.5vw;
  background-color: #eeeeee;
  border-left: 1px solid gray;
}
.steps-element{
  position: relative;
  height: 5vh;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding-top: 1.5vh;
  font-size: 16px;
  color: #999;
  font-family: Arial, verdana;
  border: 1px solid transparent;
}
.steps-element:hover{
  background-color: #eeeeee;
  color: black;
  border-radius: 2px;
  cursor: pointer;
}
.active-element{
  background-color: #eee;
  color: black;
}
.progress-bar-completed{
  background-color: cornflowerblue;
}
.small_field{
  width: 30%;
}
.big_field{
  width: 70%;
}
input[type=text],input[type=email]{
  margin-left: 5vw;
  margin-top: 6vh;
  height: 5vh;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: inline-block;
}
input:hover{
  box-shadow: 0px 5px 5px 0px rgba(175,190,200,0.6), 0px 5px 5px 0px rgba(175,190,200,0.6);o
}
input[type=date]{
  margin-left: 5vw;
  margin-top: 6vh;
  height: 5vh;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  padding:5px;
  padding-left: 30px;
  font-size: 15px;
  display: inline-block;
}
input[type=date]::-webkit-inner-spin-button{
    display:none;
}
input[type=text]:focus,input[type=email]:focus,,input[type=date]:focus{
  background-color: #444;
  color: #fff;
}
input::-webkit-input-placeholder{
  padding: 10px;
}
input:focus::-webkit-input-placeholder{
  color: #fff;
}
label{
  position: absolute;
  margin-left: 5vw;
  margin-top: 5vh;
  padding: 5px;
}
select{
  margin-left: 5vw;
  margin-top: 8vh;
  height: 5vh;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}
select:focus{
  background-color: #444;
  color: #fff;
}
button{
  position: relative;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 5vw;
  float: right;
  width: 10vw;
  height: 5vh;
  border: 1px solid transparent;
  padding: 5px;
  background-color: #299;
  color: white;
  border-radius: 5px;
}
button:hover{
  box-shadow: 0px 5px 5px 0px rgba(175,190,200,0.6), 0px 5px 5px 0px rgba(175,190,200,0.6);
}
#headline{
  margin-left: 1vw;
  color: #299;
}
#picture-box{
  position: absolute;
  margin-left: 2vw;
  height: 15vw;
  width: 14vw;
  background-image: url('../images/user_profile_male.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#upload{
  position:absolute;
  padding: 2px;
  right: 2%;
  bottom: 0%;
  height: 15%;
  width: 15%;
  background-image: url('../images/camera2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#upload:hover{
  background-image: url('../images/camera1.png');
}
#pin_status{
  margin-left: 1vw;
  display: inline;
}
