input[type=text],input[type=email]{
  margin-left: 5vw;
  margin-top: 8vh;
  width: 80%;
  height: 5vh;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
}
input[type=text]:hover,input[type=email]:hover{
  box-shadow: 0px 5px 5px 0px rgba(175,190,200,0.6), 0px 5px 5px 0px rgba(175,190,200,0.6);
}
input[type=text]:focus,input[type=email]:focus{
  background-color: #444;
  color: #fff;
}
input::-webkit-input-placeholder{
  padding: 10px;
}
input:focus::-webkit-input-placeholder{
  color: #fff;
}
label{
  position: absolute;
  margin-left: 5vw;
  margin-top: 6vh;
  padding: 5px;
}
select{
  position: relative;
  margin-left: 11vw;
  margin-top: 5vh;
  padding: 5px;
  width: 10vw;
  height: 6vh;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 5px;
  font-size: 15px;
}
button{
  position: relative;
  margin-top: 4vh;
  float: right;
  margin-right: 5vw;
  width: 10vw;
  height: 5vh;
  border: 1px solid transparent;
  padding: 5px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
button:hover{
  box-shadow: 0px 5px 5px 0px rgba(175,190,200,0.6), 0px 5px 5px 0px rgba(175,190,200,0.6);
}
