#preview-head{
  position: relative;
  height: 14vw;
  width: 100%;
  background-color: #eee;
  border-bottom: 2px solid #f44;
}
#left-container{
  position: relative;
  float: left;
  height: 64vw;
  width: 30vw;
}
#right-container{
  position: relative;
  float: right;
  height: 64vw;
  width: 22vw;
}
#p-name{
  position: relative;
  margin: 1.5%;
  float: left;
  height: auto;
  width: max-content;
  font-size: 2.5vw;
  color: #299;
  font-family: "century gothic";
}
#p-photo{
  position: relative;
  float: right;
  margin: 1.5%;
  height: 10.6vw;
  width: 8.75vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid #299;
}
#p-objective{
  position: absolute;
  left: 2%;
  top: 4vw;
  height: auto;
  width:40%;
  font-size: 1vw;
  color: #888;
  font-family: "century gothic";
}
#p-links{
  position: absolute;
  top: 8vh;
  right: 10vw;
  height: auto;
  width: 40%;
  text-align: right;
}
.p-links-elem{
  position: relative;
  float: right;
  height: auto;
  width: 100%;
  margin: .2vh;
  font-size: 1vw;
  color: #666;
  font-family: "century gothic";
  font-weight: bold;
}
.p-icon{
  position: relative;
  float: right;
  height: 1.6vw;
  width: 1.6vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#p-address{
  position: absolute;
  bottom: .2vh;
  left: .5vh;
  width: 98%;
  height: auto;
  font-size: 1vw;
  color: #333;
  font-family: "century gothic";
}
#p-email-icon{
  background-image: url('../images/email.png');
}
#p-mobile-icon{
  background-image: url('../images/mobile.png');
}
#p-address-icon{
  background-image: url('../images/address.png');
}
#p-linkedin-icon{
  background-image: url('../images/linkedin.png');
}
#p-github-icon{
  background-image: url('../images/github.png');
}
#p-education{
  position: relative;
  float: left;
  margin-left: 2vw;
  height: auto;
  width: 28vw;
  font-family: "century gothic";
}
.p-div-name{
  position: relative;
  float: left;
  margin-top: 2vh;
  margin-left: 1vw;
  float: left;
  font-size: 1.2vw;
  font-weight: bold;
  color: #888;
}
.p-edu-div{
  position: relative;
  float: left;
  margin-top: .6vh;
  height: auto;
  width: 100%;
  background-color: #eee;
}
.p-edu-div-score{
  position: relative;
  float: left;
  height: 5.5vw;
  width: 5vw;
  background-color: #f44;
}
#p-score-type{
  position: absolute;
  width: 100%;
  font-size: .8vw;
  color: #fff;
  text-align: center;
}
#p-score-value{
  position: absolute;
  top: 3.5vh;
  width: 100%;
  text-align: center;
  height: 5vh;
  font-size: 2.4vw;
  color: #fff;
}
.p-edu-div-degree{
  position: absolute;
  top: 0%;
  left: 5.2vw;
  font-size: .8vw;
  color: #666;
}
.p-edu-div-year{
  position: absolute;
  top: 0%;
  right: .5vw;
  font-size: .8vw;
  color: #666;
}
.p-edu-div-inst{
  position: absolute;
  top: 1vw;
  left: 5.2vw;
  font-size: 1.2vw;
  color: #288;
}
#p-edu-div-inst-value{
  font-weight: bold;
}
#p-edu-div-dept{
  font-size: .95vw;
  color: #f44;
}
.p-edu-div-board{
  position: absolute;
  bottom: .2vh;
  left: 5.2vw;
  font-size: .8vw;
  color: #000;
}
#p-skills{
  position: relative;
  float: right;
  margin-right: 2vw;
  height: auto;
  width: 20vw;
  font-family: "century gothic";
}
.p-skill-div{
  position: relative;
  float: left;
  margin-top: .6vh;
  height: auto;
  width: 100%;
  background-color: #eee;
}
#p-skill-logo{
  position: relative;
  float: left;
  height: 3vw;
  width: 3vw;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 20%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#p-skill-name{
  position: absolute;
  top: 0%;
  left: 3.5vw;
  font-size: 1vw;
  font-family: "century gothic";
  font-weight: bold;
  color: #444;
}
#p-skill-prof{
  position: absolute;
  bottom: .2vw;
  left: 3.5vw;
  height: .4vw;
  width: 16vw;
  border: 1px solid #299;
  border-radius: 2vw;
  background-color: #fff;
}
#p-skill-prof-header{
  position: absolute;
  right: .8vw;
  bottom: .8vw;
  font-size: .7vw;
  font-family: "century gothic";
  color: #299;
}
#p-skill-prof-value{
  position: absolute;
  height: 100%;
  background-color: #299;
  border-radius: 2vw;
}
#p-experience{
  position: relative;
  float: left;
  margin-left: 2vw;
  height: auto;
  width: 28vw;
  font-family: "century gothic";
}
.p-exp-div{
  position: relative;
  float: left;
  margin-top: .6vh;
  width: 100%;
  height: 6.5vh;
  float: left;
  background-color: #eee;
}
#exp-border{
  position: relative;
  float: left;
  height: 100%;
  width: 1vw;
  background-color: #f44;
}

#exp-pos{
  position: absolute;
  top: 0%;
  left: 1.2vw;
  font-size: 1vw;
  color: #000;
  font-weight: bold;
}
#exp-company{
  position: absolute;
  top: 1.5vw;
  left: 1.2vw;
  font-size: .9vw;
  color: #299;
}
#exp-period{
  position: absolute;
  right: .4vw;
  top: 0%;
  font-size: .8vw;
  color: #666;
}
#intern-period{
  position: relative;
  float: right;
  margin-right: .4vw;
  font-size: .8vw;
  color: #666;
  text-align: right;
}
#training-period{
  font-size: 0.8vw;
  margin-left: .2vw;
  color: #666;
}
#p-project,#p-internship,#p-training, #p-certification, #p-publication{
  position: relative;
  float: left;
  margin-left: 2vw;
  width: 28vw;
  height: auto;
  font-family: "century gothic";
}
#p-internship,#p-training, #p-certification{
  float: right;
  margin-right: 2vw;
  width: 20vw;
}
.p-project-div, .p-intern-div, .p-training-div, .p-certification-div, .p-publication-div{
  position: relative;
  float: left;
  margin-top: .6vh;
  width: 27vw;
  height: auto;
  background-color: #eee;
  border-left: 1vw solid #f44;
}
.p-intern-div, .p-training-div, .p-certification-div{
  width: 19vw;
  border-left: 1vw solid #299;
}
#project-name, #intern-pos, #training-name, #certification-name, #publication-name{
  position: relative;
  margin-top: .2vw;
  width: 15vw;
  margin-left: .2vw;
  font-size: 1vw;
  font-weight: bold;
}
#project-tech, #intern-company, #training-org, #certification-auth, #publication-auth{
  position: relative;
  margin-top: 1.5vw;
  margin-left: .2vw;
  font-size: .9vw;
  color: #299;
  font-weight: bold;
}
#project-desc, #publication-desc{
  position: relative;
  float: left;
  margin-bottom: .2vh;
  margin-left: .2vw;
  font-size: .8vw;
  width: 26vw;
  color: #444;
}
