#preview-head{
  position: relative;
  height: 160px;
  width: 100%;
  background-color: #eee;
  border-bottom: 2px solid #f44;
}
#left-container{
  position: relative;
  float: left;
  width: 55%;
}
#right-container{
  position: relative;
  float: right;
  width: 45%;
}
#p-name{
  position: relative;
  margin: 1.5%;
  float: left;
  height: auto;
  width: max-content;
  font-size: 28px;
  color: #299;
  font-family: "century gothic";
}
#p-photo{
  position: relative;
  float: right;
  margin: 2%;
  height: 120px;
  width: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid #299;
}
#p-objective{
  position: absolute;
  left: 2%;
  top: 45px;
  height: auto;
  width:50%;
  font-size: 15px;
  color: #888;
  font-family: "century gothic";
}
#p-links{
  position: absolute;
  top: 46px;
  right: 130px;
  height: auto;
  width: 30%;
  text-align: right;
}
.p-links-elem{
  position: relative;
  float: right;
  height: auto;
  width: 100%;
  margin: 3px;
  font-size: 12px;
  color: #666;
  font-family: "century gothic";
  font-weight: bold;
}
.p-icon{
  position: relative;
  float: right;
  height: 18px;
  width: 18px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.p-links-value{
  margin: 5px;
}
#p-address{
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 60%;
  height: auto;
  font-size: 14px;
  color: #333;
  font-family: "century gothic";
}
#p-email-icon{
  background-image: url('../images/email.png');
}
#p-mobile-icon{
  background-image: url('../images/mobile.png');
}
#p-address-icon{
  background-image: url('../images/address.png');
}
#p-linkedin-icon{
  background-image: url('../images/linkedin.png');
}
#p-github-icon{
  background-image: url('../images/github.png');
}
#p-education{
  position: relative;
  float: left;
  margin-left: 22px;
  height: auto;
  width: 85%;
  font-family: "century gothic";
}
.p-div-name{
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 7px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #888;
}
.p-edu-div{
  position: relative;
  float: left;
  margin-top: 4px;
  height: auto;
  width: 100%;
  background-color: #eee;
}
.p-edu-div-score{
  position: relative;
  float: left;
  height: 55px;
  width: 52px;
  background-color: #f44;
}
#p-score-type{
  position: absolute;
  width: 100%;
  font-size: 11px;
  color: #fff;
  text-align: center;
}
#p-score-value{
  position: absolute;
  top: 22px;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 22px;
  color: #fff;
}
.p-edu-div-degree{
  position: absolute;
  top: 0%;
  left: 55px;
  font-size: 12px;
  color: #666;
}
.p-edu-div-year{
  position: absolute;
  top: 0%;
  right: 5px;
  font-size: 11px;
  color: #666;
}
.p-edu-div-inst{
  position: absolute;
  top: 15px;
  left: 55px;
  font-size: 14px;
  color: #288;
}
#p-edu-div-inst-value{
  font-weight: bold;
  display: block;
}
#p-edu-div-dept{
  font-size: 13px;
  color: #f44;
  display: block;
  margin-top: -2px;
}
.p-edu-div-board{
  position: absolute;
  bottom: 1px;
  left: 55px;
  font-size: 10px;
  color: #000;
}
#p-skills{
  position: relative;
  float: right;
  margin-right: 25px;
  height: auto;
  width: 220px;
  font-family: "century gothic";
}
.p-skill-div{
  position: relative;
  float: left;
  margin-top: 4px;
  height: auto;
  width: 100%;
  background-color: #eee;
}
#p-skill-logo{
  position: relative;
  float: left;
  height: 30px;
  width: 30px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#p-skill-name{
  position: absolute;
  top: 0%;
  left: 35px;
  font-size: 13px;
  font-family: "century gothic";
  font-weight: bold;
  color: #444;
}
#p-skill-prof{
  position: absolute;
  bottom: 3px;
  left: 35px;
  height: 4px;
  width: 170px;
  border: 1px solid #299;
  border-radius: 2px;
  background-color: #fff;
}
#p-skill-prof-header{
  position: absolute;
  right: 14px;
  bottom: 9px;
  font-size: 9px;
  font-family: "century gothic";
  color: #299;
}
#p-skill-prof-value{
  position: absolute;
  height: 100%;
  background-color: #299;
  border-radius: 2px;
}
#p-experience{
  position: relative;
  float: left;
  margin-left: 22px;
  height: auto;
  width: 65%;
  font-family: "century gothic";
}
.p-exp-div{
  position: relative;
  float: left;
  margin-top: 4px;
  width: 100%;
  height: 45px;
  float: left;
  background-color: #eee;
}
#exp-border{
  position: relative;
  float: left;
  height: 100%;
  width: 10px;
  background-color: #f44;
}

#exp-pos{
  position: absolute;
  top: 2px;
  left: 14px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}
#exp-company{
  position: absolute;
  top: 20px;
  left: 14px;
  font-size: 12px;
  color: #299;
}
#exp-period{
  position: absolute;
  right: 5px;
  top: 0%;
  font-size: 10px;
  color: #666;
}
#intern-period{
  position: relative;
  float: right;
  margin-right: 4px;
  font-size: 10px;
  color: #666;
  text-align: right;
}
#training-period{
  font-size: 10px;
  margin-left: 4px;
  color: #666;
}
#p-project,#p-internship,#p-training, #p-certification, #p-publication{
  position: relative;
  float: left;
  margin-left: 22px;
  width: 85%;
  height: auto;
  font-family: "century gothic";
}
#p-internship,#p-training, #p-certification{
  float: right;
  margin-right: 25px;
  width: 70%;
}
.p-project-div, .p-intern-div, .p-training-div, .p-certification-div, .p-publication-div{
  position: relative;
  float: left;
  margin-top: 4px;
  width: 97%;
  height: auto;
  background-color: #eee;
  border-left: 10px solid #f44;
}
.p-intern-div, .p-training-div, .p-certification-div{
  width: 95%;
  border-left: 10px solid #299;
}
#project-name, #intern-pos, #training-name, #certification-name, #publication-name{
  position: relative;
  margin-top: 2px;
  width: 90%;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  display: block;
}
#project-tech, #intern-company, #training-org, #certification-auth, #publication-auth{
  position: relative;
  margin-top: 3px;
  margin-left: 4px;
  font-size: 12px;
  color: #299;
  font-weight: bold;
  display: block;
}
#project-desc, #publication-desc{
  position: relative;
  float: left;
  margin-bottom: 2px;
  margin-left: 4px;
  font-size: 11px;
  width: 90%;
  color: #444;
  display: block;
}
